
.wid-1 {
	width: 5%;
}
.wid-2 {
	width: 10%;
}
.wid-3 {
	width: 15%;
}
.wid-4 {
	width: 20%;
}
.wid-5 {
	width: 25%;
}
.wid-6 {
	width: 30%;
}
.wid-7 {
	width: 35%;
}
.wid-8 {
	width: 40%;
}
.wid-9 {
	width: 45%;
}
.wid-10 {
	width: 50%;
}
.wid-11 {
	width: 55%;
}
.wid-12 {
	width: 60%;
}
.wid-13 {
	width: 65%;
}
.wid-14 {
	width: 70%;
}
.wid-15 {
	width: 75%;
}
.wid-16 {
	width: 80%;
}
.wid-17 {
	width: 85%;
}
.wid-18 {
	width: 90%;
}
.wid-19 {
	width: 95%;
}
.wid-20 {
	width: 100%;
}
