
<form class="mark" action="/login" method="POST" style="margin: 40px auto; width: 50%; padding: 40px;">
	<div class="form-group">
		<label for="mobile">Phone Number:</label>
		<input type="number" min="0" minlength="10" maxlength="10" class="form-control" id="mobile" placeholder="Enter phone number" name="mobile" required />
	</div>
	<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password" required />
	</div>
	<button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>
